In [1]:
#conda install -c conda-forge geopy

In [2]:
# Importing required module 
from geopy.geocoders import Nominatim 
import pandas as pd

In [19]:
# Import the data set
tokyo_zip = pd.read_csv("tokyo_zip_latlong.csv", header = None, names = ["zip_code", "Prefecture", "City", "Area", "lat", "long"])
tokyo_zip.head()

,zip_code,Prefecture,City,Area,lat,long
0,1000000,TOKYO TO,CHIYODA KU,IKANIKEISAIGANAIBAAI,NaN,NaN
1,1020072,TOKYO TO,CHIYODA KU,IIDABASHI,NaN,NaN
2,1020082,TOKYO TO,CHIYODA KU,ICHIBANCHO,35.729056,139.378416
3,1010032,TOKYO TO,CHIYODA KU,IWAMOTOCHO,35.695600,139.775379
4,1010047,TOKYO TO,CHIYODA KU,UCHIKANDA,35.691038,139.767290

In [21]:
# remove datas not having lat and long
tokyo_zip_filtered = tokyo_zip.dropna()

(1034, 6)