In [1]:
#conda install -c conda-forge geopy

In [1]:
# Importing required module 
from geopy.geocoders import Nominatim 
import pandas as pd

In [24]:
tokyo_zip = pd.read_csv("tokyo_zip.csv", header = None, names =  ["zip_code", "pref_J", "city_J", "area_J", "prefecture", "city", "area"])

In [25]:
tokyo_zip.drop("pref_J", axis = 1, inplace = True)
tokyo_zip.drop("city_J", axis = 1, inplace = True)
tokyo_zip.drop("area_J", axis = 1, inplace = True)

tokyo_zip["lat"] = None
tokyo_zip["long"] = None

tokyo_zip.head()

   zip_code prefecture        city                  area   lat  long
0   1000000   TOKYO TO  CHIYODA KU  IKANIKEISAIGANAIBAAI  None  None
1   1020072   TOKYO TO  CHIYODA KU             IIDABASHI  None  None
2   1020082   TOKYO TO  CHIYODA KU            ICHIBANCHO  None  None
3   1010032   TOKYO TO  CHIYODA KU            IWAMOTOCHO  None  None
4   1010047   TOKYO TO  CHIYODA KU             UCHIKANDA  None  None

In [2]:
# locator作成
geolocator = Nominatim(user_agent="user", timeout=10)
location = geolocator.geocode('600042, SAPPORO SHI CHUO KU, HOKKAIDO')
location.latitude, location.longitude

(43.06246615, 141.30012162329723)

In [30]:
tokyo_zip.loc[0, "lat"]

In [31]:
for i, postal, city, area in zip(range(tokyo_zip.shape[0]), tokyo_zip["zip_code"], tokyo_zip["city"], tokyo_zip["area"]):
    geolocator = Nominatim(user_agent="user", timeout=10)
    location = geolocator.geocode('{}, {}, Tokyo'.format(postal, area))
    if location != None:
        tokyo_zip.loc[i, "lat"] = location.latitude
        tokyo_zip.loc[i, "long"] = location.longitude

In [32]:
tokyo_zip.head()

   zip_code prefecture        city                  area      lat     long
0   1000000   TOKYO TO  CHIYODA KU  IKANIKEISAIGANAIBAAI     None     None
1   1020072   TOKYO TO  CHIYODA KU             IIDABASHI     None     None
2   1020082   TOKYO TO  CHIYODA KU            ICHIBANCHO  35.7291  139.378
3   1010032   TOKYO TO  CHIYODA KU            IWAMOTOCHO  35.6956  139.775
4   1010047   TOKYO TO  CHIYODA KU             UCHIKANDA   35.691  139.767

In [45]:
tokyo_zip_filtered = tokyo_zip.dropna()

In [46]:
tokyo_zip_filtered.reset_index(drop = True)

,zip_code,prefecture,city,area,lat,long
0,1020082,TOKYO TO,CHIYODA KU,ICHIBANCHO,35.7291,139.378
1,1010032,TOKYO TO,CHIYODA KU,IWAMOTOCHO,35.6956,139.775
2,1010047,TOKYO TO,CHIYODA KU,UCHIKANDA,35.691,139.767
3,1000011,TOKYO TO,CHIYODA KU,UCHISAIWAICHO,35.6694,139.755
4,1010044,TOKYO TO,CHIYODA KU,KAJICHO,35.6917,139.772
...,...,...,...,...,...,...
1029,1001102,TOKYO TO,MIYAKEJIMA MIYAKE MURA,IZU,31.9999,139.999
1030,1001213,TOKYO TO,MIYAKEJIMA MIYAKE MURA,OYAMA,35.7486,139.702
1031,1001622,TOKYO TO,HACHIJOJIMA HACHIJO MACHI,SUEYOSHI,35.6587,139.724
1032,1001623,TOKYO TO,HACHIJOJIMA HACHIJO MACHI,NAKANOGO,33.0659,139.814
1033,1001511,TOKYO TO,HACHIJOJIMA HACHIJO MACHI,MITSUNE,33.1188,139.803